.mainItemsContainer {
  width: 100%;
}

.itemsTitle {
  margin-top: 30px;
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  color: #2f8e81;
}
.itemsContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 30px;
    gap: 10px;
}
.pageNavigator{

  display: flex;
  justify-content: center;
  gap:8px;
  margin: 20px 0px;
}
@media(max-width:800px){
  .itemsContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 30px;
    gap: 10px;
}

}

@media(max-width:550px){
  .itemsContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 30px;
    gap: 10px;
}
.itemsTitle {
  margin-top: 5px;
  
}
}