.homeContainer {
  width: 100%;

  display: flex;
  
}
.sideNavbar{
  width: 16%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}
.topNavbar{
  display: none;
}
.homeContainer > div:last-child {
  width: 83%;
  margin-left: 250px;
}

@media(max-width:1000px){
  .homeContainer {
    width: 100%;
  display: flex;
    gap: 1%;
    flex-direction: column;
  }
  .topNavbar{
    display: block;
  }
  .sideNavbar{
display: none;
  }
  .homeContainer > div:last-child {
    width: 98%;
    margin-left: 0px;
  }
}
