.homeContainer{
    width: 100%;

    display: flex;
    gap: 1%;
}
.homeContainer > div:first-child {
    width: 16%;
    position: fixed;
top: 0;
left: 0;
height: 100vh;
   
  }
  .homeContainer > div:last-child {
    width: 83%;
    margin-left: 250px;
    
  }