.orderTitleContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 10px;
}
.orderTitle {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  color: #2f8e81;
  margin-top: 30px;
}
.orderTitle {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  color: #2f8e81;
  margin-top: 30px;
}
.filterBtn {
  margin-top: 20px;
}
.orderBlock {
  cursor: pointer;
}
